.grid-container {
  width: 100vw;
  height: 100vh;

  background-color: whitesmoke;

  display: grid;
  grid-template-columns:
    [screen-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(5rem, 10rem) [col-end]
    )
    [center-end] 1fr [screen-end];

  grid-template-rows: repeat(8, 1fr);
}
