:root {
  --color-primary: #b63f42;
  --color-primary--dark: #951f22;
  --color-primary--darker: #690407;

  --color-ivory: #fffff0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
